blender
chrome
compton
custom_keyboard.conf_backup
custom_keyboard.conf_backup_old
dconf
Dharkael
discord
dunst
feh
flameshot
GIMP
google-chrome
grub_backup
gtk-2.0
gtk-3.0
htop
i3
i3status
kdenliverc
libreoffice
LICENSE
menus
mimeapps.list
pacman
picom
polybar
procps
pulse
QtProject
QtProject.conf
ranger
README.md
rofi
snes9x
ssh
transmission-daemon
txt
VirtualBox
Xresources
yay
zathura
zsh/note
zsh/oh-my-zsh
*_backup

